 
   <!-- <li><a routerLink=""> Home</a></li>
   <li><a routerLink="/about">About</a></li>
   <li><a routerLink="/news">News</a></li>
   <li><a routerLink="/contact">Contact</a></li> -->
  <header>
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="row">
              <div class="col-md-4">
                  <a  routerLink="" > <img id="IMAGEFLIP" src="https://img1a.flixcart.com/www/linchpin/fk-cp-zion/img/flipkart-plus_4ee2f9.png" alt="">
                  </a>
              </div> 
              <div class="col-md-8">
                  <form  >
                      <input id="SearchInput"  type="search" placeholder="Search for Products Brands and More"  >
                      <button id="searchButton" class="btn" (click)="callParent($event)"  type="submit">
                         
                         <a routerLink="/about">Search</a>
                        <!-- <i class="fas fa-search"></i> -->
                      </button>
                    </form>
               
              </div>
           </div> 
            
          </div>
          <div class=" col-md-5">
              <ul  >
                  <li  >
                    
                    <a routerLink="/news" id="tag2"  >Login & Signup  </a>
                  </li>
                  <li  >
                   
                    <a routerLink="/contact"  id="tag3" > Cart</a>
                  </li>
                  
                </ul>
          </div>
        </div>
      </div>
    
    </header>
  